
.start-quiz-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    min-height: 400px;
    transition: all 0.3s ease;
  }
  
  
  .start-quiz-page h1 {
    color: #007bff;
  }
  
  .start-quiz-page p {
    font-size: 18px;
    color: #555;
  }
  
  .start-quiz-page img {
    margin-bottom: 20px;
  }
  
  .start-quiz-page .colored-rectangle {
    height: 100px;
    margin: 20px 0;
  }
  
  .start-quiz-page .red {
    background-color: rgba(236, 91, 91, 0.3); 
  }
  
  .start-quiz-page .blue {
    background-color: rgba(118, 118, 243, 0.3); 
  }
  
  .start-quiz-page button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  