/* Your CSS file, e.g., StartQuizPage.css */
.start-quiz-page {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .start-quiz-page h1 {
    color: #007bff;
  }
  
  .start-quiz-page p {
    font-size: 18px;
    color: #555;
  }
  
  .start-quiz-page img {
    margin-bottom: 20px;
  }
  
  .start-quiz-page .colored-rectangle {
    height: 100px;
    margin: 20px 0;
  }
  
  .start-quiz-page .red {
    background-color: rgba(236, 91, 91, 0.3); /* Red with less opacity */
  }
  
  .start-quiz-page .blue {
    background-color: rgba(118, 118, 243, 0.3); /* Blue with less opacity */
  }
  
  .start-quiz-page button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  