.App {
  text-align: center;
  background-color: #add8e6; /* Light blue background */
  font-family: 'Verdana', sans-serif; /* Random font family */
}

.question-card {
  /* Center the div */
  margin: 0 auto;
  /* Dimensions */
  width: 80%;
  max-width: 600px; /* Set a max-width for better responsiveness */
  height: auto;
  /* Visual */
  background-color: #6c757d;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
  font-family: 'Courier New', monospace; /* Random font family */
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: #495057;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Arial', sans-serif; /* Random font family */

}
li:hover {
  cursor: pointer;
}

.question-text {
  color: #007bff;
  font-size: 24px;
  font-family: 'Georgia', serif; /* Random font family */
}

.final-results {
  /* Center the div */
  margin: 0 auto;
  /* Dimensions */
  width: 80%;
  max-width: 600px; /* Set a max-width for better responsiveness */
  height: auto;
  margin-top: 64px;
  /* Visual */
  background-color: #6c757d;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
  font-family: 'Comic Sans MS', cursive; /* Random font family */
}

button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
  font-family: 'Impact', fantasy; /* Random font family */
}
